.logo h4 {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    margin-top: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nama {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}